[user]
	name = Jonathan Lehman
	email = jonathan.lehman91@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[alias]
  st = status
  co = checkout
  br = branch
  ci = commit --verbose
  di = diff
  amend = commit --amend
  noff = merge --no-ff
  fa = fetch --all
  pom = push origin master
  l = log  --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset\" --graph
[push]
  default = simple
[merge]
  tool = vimdiff
