[user]
	name = Jonathan Lehman
	email = jonathan.lehman91@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[alias]
  ; info
  d = diff
  st = status
  l = log
  lp = log  --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset\" --graph
  ; branching
  co = checkout
  cob = checkout -b
  com = checkout master
  b = branch
  bd = branch -D
  ; committing
  ci = commit --verbose
  cia = commit --verbose --amend
  ; pulling/fetching
  fa = fetch --all
  pr = pull --rebase
  prom = pull --rebase origin master
  ; pushing
  pom = push origin master
  po = push origin
  ; merging
  noff = merge --no-ff
  ; staging
  aa = add --all --intent-to-add
  ap = add -p
  ai = add -i
  ; rebasing
  ri = rebase -i
[push]
  default = simple
[merge]
  tool = vimdiff
