[user]
	name = Jonathan Lehman
	email = jonathan.lehman91@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[alias]
  st = status
  co = checkout
  br = branch
  ci = commit
  l = log  --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset\" --graph
[push]
  default = simple
