# excluded files
.netrwhist
.backup/*
.tmp/*
.undo/*
autoload/*
plugged/*
view/*

# included files
!.backup/.gitkeep
!.tmp/.gitkeep
!.undo/.gitkeep
!autoload/.gitkeep
!plugged/.gitkeep
!view/.gitkeep
