# excluded files
.netrwhist
.netrwbook
.backup/*
.tmp/*
.undo/*
autoload/*
plugged/*
view/*
sessions/

# included files
!.backup/.gitkeep
!.tmp/.gitkeep
!.undo/.gitkeep
!autoload/.gitkeep
!plugged/.gitkeep
!view/.gitkeep
